Django>=4.2,<5.0
djangorestframework
gunicorn
whitenoise
psycopg2-binary  # If using PostgreSQL
dj-database-url  # For database configuration
django-environ  # To manage environment variables
django-cors-headers  # To handle CORS in API requests
requests  # For making API calls
boto3  # If using AWS services like S3
django-storages  # If storing static files on S3
